<!DOCTYPE html>
<html>
<head>
    <title>AI Productivity Dashboard</title>
    {% block styles %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    {% endblock styles %}
    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js" integrity="sha384-VQqxDN0EQCkWoxt/0vsQvZswzTHUVOImccYmSyhJTp7kGtPed0Qcx8rK9h9YEgx+" crossorigin="anonymous"></script>
        {{ moment.include_moment() }}
    {% endblock scripts %}    
</head>
<body class="bg-light">
    <div class="container">
        {% block content %}
        
        {% endblock %}
    <footer>
        <p class="text-center">&copy; {{ moment().format('YYYY') }} Mosudi I. O. All Rights Reserved: <a href="mailto:imosudi@outlook.com"> imosudi@oulook.com</a></p>
    </footer>
    </div>
</body>
</html>
